
// Colors
$orangeColor : #EF8216;
$orangeColorBoxShadow : #ef821638;
$blackColor: #1F2836;
$redColor: #F0423C;
$whiteColor: #FFFFFF;


// Fonts
$font_s14: 14px;
$font_s16: 16px;
$font_s18: 18px;


//Width
$inputWidth: 450px;
$btnWidth: 300px;
$btnHeight: 46px;


// Float
$float_Right : right;
$float_Left : left;