@import "_variables";
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
// Globals
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    // box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
ul, li {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
}
h1, h2, h3, h4, h5, h6, span, strong, p {
    margin: 0 !important;
    padding: 0 !important;
}
a {
    text-decoration: none !important;
    // color: $blackColor !important;
}
._none {
    display: none !important;
}
._D_Flex {
    display: flex;
}
// Button
._main_button {
    background-color: $orangeColor;
    border: 3px solid $orangeColor;
    color: $whiteColor;
    outline: none;
    border-radius: 5px;
    width: $btnWidth;
    max-width: $btnWidth;
    height: $btnHeight;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:focus {
        outline: none;
    }

    &_strock {
        background-color: transparent;
        color: $orangeColor;
        border: 3px solid $orangeColor;
        outline: none;
        border-radius: 5px;
        width: $btnWidth;
        max-width: $btnWidth;
        height: $btnHeight;
        line-height: 70px;
        font-size: 18px;
        line-height: 2;

        &:focus {
            outline: none;
        }
    }

}

._text_center {
    text-align: center;
}

//Genral Class
._textHead {
    text-align: center;
    padding: 20px 0;
    h2 {
        font-size: 36px;
        text-transform: capitalize;
        color: #1F2836;
    }
    p {
        font-size: 20px;
        color: #5E5D5D;
    }
}
._z_index {
    position: relative;
    z-index: 99999;
}
._divider {
    border-top: 1px solid #8c8b8b;
    width: 100%;
}
._float_Right {
    float: $float_Right;
}
._float_Left {
    float: $float_Left;
}
._margin_auto {
    margin: 0 auto;
    display: block;
}
._margin_100PX {
    margin: 100px auto;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $orangeColor;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($orangeColor,.25);
}
._bg_color {
    background-color: #1F2836;
    height: 100px;
}

.Datepiker {
    width: 450px;
    margin: 15px auto;
    overflow: hidden;

    input {
        width: 100%;
        padding: 10px 20px;
        background: #fff;
        border: 2px solid #EF82163D;
        border-radius: 1px;
        cursor: pointer;
    }
}

// header
header {
    height: 100vh;//860px
    width: 100%;
    overflow: hidden;
    position: relative;
    color: $whiteColor;
    .header__img {
        background-size: cover;

        img {
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: .8);

        }
    }

    .nav_bar {
      position: relative;
      z-index: 9999;
        .contactUs {
           text-align: right;

           span {

           }

        }

        .contactUs {
            padding: 10px 0 14px;

            span {
                font-size: 14px;
                margin-right: 10px !important;
                display: inline-block;
                i {
                    font-size: 12px;
                    margin-right: 3px;
                }
            }
        }
        .nav_bar_menu {
            display: flex;

            .logo {
                width: 100px;
                height: 30px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .menu_siblings {
            margin-left: 150px;
            ul {
                display: flex;
                justify-content: flex-start;

                li {
                    margin-right: 54px;
                    text-transform: capitalize;

                    a {
                        text-decoration: none;
                        color: $whiteColor;
                        position: relative;
                        transition: all .5s ease-in-out;

                        &:hover:after {
                            position: absolute;
                            content: '';
                            top: -10px;
                            left: 0;
                            right: 0;
                            height: 2px;
                            background-color: $orangeColor;
                            transition: all .5s ease-in-out;

                        }
                    }
                }
            }
        }


        .Shopping_user_avatar_name{
            display: flex;
            position: absolute;
            right: 0;
            align-items: center;


            .user_avatar_name {
                display: flex;
                justify-items: center;
                align-items: center;
                justify-content: center;
                margin-left: 20px;

                .img_profile {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid $orangeColor;
                    overflow: hidden;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }

    .header__contant {
        position: relative;
        z-index: 9999;
        position: absolute;
        top: 39%;

        h2 {
            font-size: 56px;
            color: #FFF;
            font-weight: 900;

            span {
                color: $orangeColor;
            }
        }
        p{
            font-size: 32px;
            color: #FFFF;
            margin-top: 22px !important;
        }
        button{
            margin-top: 79px;
            margin-right: 20px;
        }
    }
}// End Header Style

.search_find {
    background: #1f2836;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    overflow: hidden
}


.bs_breadcrumb {
height: 70px;
background-color: #F6F7F8;
line-height: 2.5;

    .breadcrumb {
        background-color: transparent;

    }
    .breadcrumb-item+.breadcrumb-item::before {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 13px;
        line-height: 3.5;
    }
}
// Trusted Section
.trusted {
    padding: 30px 0;
    background-color: #F6F7F8;
    .boxes {
        display: flex;
        .boxes_img {
            width: 80px;
            height: 80px;
            margin-top: 44px;
            margin-right: 15px;

            img {

            }
        }
    }
}//End Trusted Section


//fixYourDevice
.fixYourDevice {
    position: relative;
    margin: 100px auto 0;
    width: 100%;
    text-align: center;
    height: 600px;

    .fixYourDevice_slecet {
        width: 50%;
        margin: 0 auto;
    }




    .device_images {
        position: absolute;
        left: 43px;
        width: 500px;
        bottom: 0;
        img {
            width: 100%;
        }
    }
}//End fixYourDevice


// testimony
.testimony {
    height: 646px;
    background-color: #F6F7F8;
    padding: 84px 0;

    .testimony_carousel {

        .carousel_contant {
            background-color: $orangeColor;
            display: flex;
            width: 100%;
            border-radius: 5px;
            padding: 20px;
            position: relative;
            height: 272px;
            margin-top: 100px;

            .carousel_avtar_userifo {
                text-align: center;
                margin-left: 40px;
                width: 161px;
                .carousel_avtar {
                    width: 161px;
                    height: 161px;
                    overflow: hidden;
                    position: absolute;
                    top: -80px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .carousel_userifo {
                    margin-top: 108px;


                    h4 {
                        font-size: 24px;
                        color: $whiteColor;
                        text-transform: capitalize;
                        font-weight: 900;
                    }
                    span {
                        font-size: 20px;
                        color: rgba( $whiteColor, .6 )
                    }
                }
            }
            .carousel_text {
                margin-left: 100px;
                margin-top: 50px;
                width: 50%;

                p {
                    color: $whiteColor;
                    font-size: 20px;
                    line-height: 30px;
                }
            }

        }

        .carousel-indicators {
            bottom: -78px;
            li {
                height: 30px;
                border-radius: 50%;
                background-color: $whiteColor;
                border: 2px solid $orangeColor;

            }
            .active {
                background-color: $orangeColor;
            }
        }
    }


}// End testimony

// footer
    footer {
        background-color: #1F2836;
        height: 600px;
        color: $whiteColor;
        padding-top: 70px;

        h4 {
            font-size: 20px;
            margin-bottom: 40px !important;
            text-transform: uppercase;
        }
        .logo {
            width: 117px;

            img {
                width: 100%;
            }
        }
        .footer_links {
            margin-left: 25px;
            ul {
                position: relative;
                display: inline-block;
                margin-right: 50px;

                li {
                    margin-bottom: 29px;

                    a {
                        color: #FFF;
                        text-decoration: none;
                        &:before {
                            content: '\f0da';
                            position: absolute;
                            left: -19px;
                            color: #666666;
                            font-family: FontAwesome;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            border-bottom: 1px solid #666666;
                            width: 169px;
                            margin-top: 33px;
                            left: 0;

                        }

                        &:hover {
                            color: $orangeColor;
                            &:before {
                                color: $orangeColor;
                            }
                        }
                    }

                }
            }
        }
        .mail_box {
            display: flex;
            .newsletter_img {
                width: 88px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }

            .newsletter_input {
                position: relative;
                margin-left: 11px;

                input {
                    background-color: rgba(255, 255, 255, 0.2);
                    padding: 7px;
                    width: 240px;
                    height: 64px;
                    outline: none;
                    border: 1px solid #EBEBEB;
                    border-radius: 10px;

                }
                a {
                    position: absolute;
                    top: 21px;
                    right: 13px;
                    color: $orangeColor;
                    text-decoration: none;
                }
            }
        }



        .Copyrights {
            text-align: center;
            margin-top: 66px;

            ._divider {
                width: 50%;
                margin: 20px auto;

            }

        }
    }
// End footer


// Select_options

  .select_wrap{
    width: $inputWidth;
    margin: 15px auto;
    position: relative;
    user-select: none;
  }

  .select_wrap .default_option{
    background: #fff;
    border: 2px solid #EF82163D;
    border-radius: 1px;
    position: relative;
    cursor: pointer;
  }

  .select_wrap .default_option li{
      padding: 10px 20px;
  }

  .select_wrap .default_option:before{
      content: "";
      position: absolute;
      top: 12px;
      right: 18px;
      width: 10px;
      height: 10px;
      border: 2px solid;
      border-color: transparent transparent $orangeColor $orangeColor;
      transform: rotate(-45deg);
  }

  .select_wrap .select_ul{
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 2px solid #EF82163D;
    border-radius: 5px;
    display: none;
  }

  .select_wrap .select_ul li{
    padding: 10px 20px;
    cursor: pointer;
  }

  .select_wrap .select_ul li:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .select_wrap .select_ul li:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .select_wrap .select_ul li:hover{
    background: #EF82163D;
  }

  .select_wrap .option{
    display: flex;
    align-items: center;
  }

  .select_wrap.active .select_ul{
    display: block;
  }

  .select_wrap.active .default_option:before{
    top: 20px;
    transform: rotate(-225deg);
  }

// App_Loign
.App_Loign, .app_register {
    position: relative;
    width: 100%;
    height: 100vh;

    .auth_heading {
        margin: 5% 0 3%;
        display: inline-block;
        h2 {
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        p {
            color: rgba( $blackColor, .5 );
        }
    }

     .input_form {
        // position: absolute;
        // top: 20%;
        width: 35%;

        .Btn_action {
            margin-top: 60px;
            button {
                text-transform: uppercase;
                display: block;
                margin-top: 20px;

            }

            h6 {
                text-transform: capitalize;
                a {
                    text-transform: uppercase;
                    color: $orangeColor !important;
                }
            }
        }

     }

     .auth_img {
        position: absolute;
        z-index: -1;
        bottom: 0%;
        right: 0;
        width: 60%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
     }

     .auth_header_logo {
        width: 100%;
        height: 60px;
        overflow: hidden;
        line-height: 60px;
        .auth_logo {
            width: 78px;
            height: 60px;
            overflow: hidden;
            display: inline-block;

            img {
                width: 100%;
            }
        }
        button {
            float: right;
            border: none;
            background: transparent;
            outline: transparent;
            i {
                text-align: right;

                line-height: 60px;
                color: $orangeColor;
                font-size: 20px;
            }
        }


     }

     .registering_type {
         display: flex;
         margin: 50px auto;
         justify-content: center;

         a {
             width: 350px;
             height: 200px;
             border: 4px solid $orangeColor;
             border-radius: 15px;
             padding: 15px;
             margin-left: 20px;
             text-align: center;
             opacity: .5;
             transition: .8s;
             position: relative;

             img {
                width: 70px;
                margin-top: 20px;
             }
             h5 {
                 margin-top: 15px !important;
                 font-weight: 900;
             }
         }
         a:hover {
            background-color: $whiteColor;
            box-shadow: 3px 5px 16px #9c9b9b;
         }
         a.active {
            opacity: 1;

         }
         a.active::after {
            content: "\f00c";
            position: absolute;
            font-family: FontAwesome;
            width: 30px;
            height: 30px;
            background-color: #EF8216;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            font-size: 13px;
            top: 79px;
            left: -16px;
         }
     }
}

.page_2 {
    .Btn_action {

        h6 {
            text-transform: capitalize;
            a {
                text-transform: uppercase;
                color: $orangeColor !important;
            }
        }
    }
}

.Contact_Information {

    .form-group {
        width: 35%;
        margin: 0 auto;

        input {
            width: 100%;
            margin: 18px auto;
        }
    }
}

// search result
.Search_Result {
background-color: #F6F7F8;
    &_carousel {
        background: transparent linear-gradient(58deg, #FF4858 0%, #EF8216 100%) 0% 0% no-repeat padding-box;
        height: 300px;
        width: 100%;

        .carousel_contant {
            display: flex;

            &_text {
                margin-left: 110px;
                margin-top: 50px;

                h5 {
                    font-size: 48px;
                    font-weight: bold;
                    color: #FFF;
                }
                span {
                    display: block;
                    margin-top: 21px !important;
                    margin-bottom: 20px !important;
                    color: rgba(255, 255, 255, 0.7);
                    width: 70%;
                    font-weight: 100;
                }
                a {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: rgba( $whiteColor, 1) !important;
                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
            &_image {
                width: 50%;
                height: 300px;
                position: relative;
                margin-right: 80px;

                img {
                    position: absolute;
                    bottom: -53px;
                }
            }
        }
    }

    &_BoxOne {
        width: 100%;
        height: 300px;
        background: transparent linear-gradient(44deg, #4873FF 0%, #EF8216 100%) 0% 0% no-repeat padding-box;
        position: relative;
        overflow: hidden;
        padding: 45px 0 16px 29px;

        h5 {
            font-size: 48px;
            font-weight: bold;
            color: #FFF;
        }
        p {
            display: block;
            margin-top: 21px !important;
            margin-bottom: 20px !important;
            color: rgba(255, 255, 255, 0.7);
            width: 70%;
            font-weight: 100;
        }
        a {
            text-transform: uppercase;
            font-weight: bold;
            color: white !important;
            text-decoration: underline;
            transition: .3s;

            &:hover {
                text-decoration: underline !important;
            }
        }



        .img {
            width: 143px;
            overflow: hidden;
            position: absolute;
            right: 13px;
            top: 163px;

            img {
                width: 100%;
            }
        }
    }

    &_breadcrumb {

        .breadcrumb {
            background-color: transparent !important;
            padding: .75rem 0 !important;
        }

    }

    &_aside {
        display: flex;
        &_left {
            width: 19%;
            margin-right: 1%;
            ._Box {
                background-color: white;
                width: 100%;
                margin-bottom: 15px;
                padding: 10px;
                border-radius: 4px;
            }
            h6 {
                color: #22262A;
                text-transform: uppercase;
                font-size: 18px;
                margin: 8px 0 !important;
                font-weight: 600;
            }

            a {
                color: $blackColor;
            }
            .accesories_Box {
                ul {
                    margin: 0;
                    li {
                        margin-bottom: 5px;
                        a{
                            font-size: 14px;
                            span {
                                float: right;
                            }
                            &:hover {
                                color: $orangeColor !important;
                            }

                        }

                    }
                }

            }

            .color_box {
                ul {
                    display: flex;
                    li {
                        margin-right: 7px;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 50%;
                        span {
                            width: 15px;
                            height: 15px;
                            display: inline-block;
                            border-radius: 50%;
                            cursor: pointer;

                        }

                        .BGblue { background-color: #006CFF;}
                        .BGRed { background-color: #FC3E39;}
                        .BGBlack { background-color: #171717;}
                        .BGYellow { background-color: #FFF600;}
                        .BGCyan { background-color: #FF00B4;}
                        .BGGray { background-color: #EFDFDF;}
                        // Active Border
                        .borderblue { background-color: #006CFF;}
                        .borderRed { background-color: #FC3E39;}
                        .borderBlack { background-color: #171717;}
                        .borderYellow { background-color: #FFF600;}
                        .borderCyan { background-color: #FF00B4;}
                        .borderGray { background-color: #EFDFDF;}

                        // &:hover {
                        //     border: 1px solid red;
                        // }
                    }
                }

            }

            .brand_box {
                ul {
                    margin: 0;
                    li {
                        margin-bottom: 5px;
                        a{
                            font-size: 14px;
                            span {
                                float: right;
                            }
                            &:hover {
                                color: $orangeColor !important;
                            }

                        }

                    }
                }
            }

        }
        &_right {
            width: 80%;

           .card {
               width: 215px;
               margin-bottom: 16px;

               &_img {
                padding: 20px 0 10px;
                width: 55%;
                height: 70%;
                overflow: hidden;
                text-align: center;
                margin: 0 auto;
                img {
                    width: 100%;
                }
               }
           }

           .card-body {

            .card-title {
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 7px !important;
            }

            .Product_Price {
                font-size: 23px;
                font-weight: 600;
                color: $orangeColor;
                display: inline-block;
            }
            .Product_rating {
                font-size: 9px;
                text-align: right;
                float: right;


                h6 {
                    color: $orangeColor;

                    span {
                        text-transform: capitalize;
                    }

                }

                .fa-star {
                    color: rgba( $blackColor, .7 );
                }
                .checked {
                    color: $orangeColor;
                }

            }
            .Card_actions_icon {
                display: flex;
                margin-top: 17px;
                transition: .3s ease-in-out;

               .shopping_cart_icon {
                   width: 50%;
                   color: $blackColor;

                   &:hover {
                    color: $orangeColor;
                    }
               }
               .Love_icon {
                   width: 50%;
                   text-align: right;
                   color: $blackColor;

                    &:hover {
                        color: $orangeColor;
                    }
               }

               .active {
                color: $orangeColor;
            }


            }

           }
        }
    }


}

// Thank You!  Fix – 4
.Thank_You_Fix_4 {

    h2 {
      margin: 20px 0 !important;
      font-size: 40px;
      text-transform: capitalize;
    }
    p.lead {
        font-size: 18px;
        margin: 20px 0 !important;
    }
    span {
        margin: 20px 0 !important;
        display: block;
        strong {
            color: $orangeColor;

        }
    }
    h3 {
        font-size: 36px;
        text-transform: capitalize;
        span {
            display: inline;
            color: $orangeColor;
        }
    }

    .Thank_You_Fix_4_img {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}







// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
